/* Color Theme Swatches in Hex */
:root {
    --panorama-gold-1: #F2CE1B;
    --panorama-gold-2: #D9A91A;
    --panorama-gold-3: #BF8211;
    --panorama-gold-4: #BF9E60;
    --panorama-gold-5: #A6600A;
    --black-gold-1: #F0CD60;
    --black-gold-2: #BD9D3D;
    --black-gold-3: #BF9338;
    --black-gold-4: #292101;
    --black-gold-5: #0F1208;
}