body {
    background: rgb(245, 221, 66);
}

.page-container {
    margin-top: 75px;
}

.kpx_login .kpx_authTitle {
    text-align: center;
    line-height: 300%;
}

.kpx_login .kpx_loginForm .input-group.i {
    width: 2em;
}

.kpx_login .kpx_loginForm .help-block {
    color: red;
}

.bmd-layout-content {  
    height: 100vh;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

.form-color-white {
    color: white;
}
.form-color-white:focus {
    color: white;
}
.form-color-white::placeholder {
    color: silver;
}
#loginButton {
    color: snow;
    border-color: snow;
}

.bmd-drawer-f-l>.bmd-layout-drawer {
    width: 350px;
    transform: translateX(-360px);
}

/* background-color: #DBD288; */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
} */