body {
    background: #fff;
}

.navbar {
    background-color: #DBD288;
}

#favoriteSection {
    margin-top: 60px;
    height: 200px;
    background-color: lightgray;
}

.page-container {
    margin-top: 25px;
}

#columns {
    margin-top: 20px;
    column-count: 1;
    column-gap: 0px;
    height: 200vh;
}

@media (min-width: 512px) {
    #columns {
        column-count: 2;
        column-gap: 2px;
    }
}

@media (min-width: 768px) {
    #columns {
        column-count: 3;
        column-gap: 5px;
    }
}

@media (min-width: 992px) {
    #columns {
        column-count: 4;
        column-gap: 10px;
    }
}

#columns .card {
    display: inline-block;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 10px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, #FFF, #EEE);
    transition: all .2s ease;
    height: 350;
    width: 100%;
    /* justify-content: center; */
}

.cardIcon {
    padding: 20px 8px;
}

.card-img-top {
    max-width: 90%;
    max-height: 38.2%;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    /* display: block; */
    text-overflow: ellipsis;
}

div.scrollmenu {
    background-color: lightgray;
    overflow: auto;
    white-space: nowrap;
    min-height: 80%
}

div.scrollmenu .card {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.searchBar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    /* float: left; */
    width: 60%;
    background: #f1f1f1;
}

/* Style the submit button */
.searchBar button {
    border-radius: 3px;
    /* float: left; */
    /* width: 20%; */
    /* padding: 10px; */
    background: var(--black-gold-1);
    color: var(--black-gold-5);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

.searchBar button:hover {
    background: var(--black-gold-2);
}