body {
    background: #fff;
}

.navbar {
    background-color: #DBD288;
}

.page-container {
    margin-top: 75px;
}

#profilePhoto {
    width: 128px;
    height: 128px;
    display: block;
    /* position: fixed;
    top: 30px;
    left: 20px; */
    border-radius: 50%;
}

.profile-form {
    /* background-color: var(--panorama-gold-4); */
    box-shadow: 0 0 8px 8px rgba(196, 196, 196, 0.445);
    background-color: rgb(235, 235, 219);
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 75px;
    position: relative;
    display: block;
    min-height: 80vh;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#updateButton {
    background-color: var(--black-gold-5);
    color: var(--black-gold-2);
    max-width: 200px;    
}