.bmd-layout-content {
    height: 100vh;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

.bmd-layout-drawer>.list-group .list-group-item {
    padding-left: 1.5rem;
}

#menuProfileSection {
    height: 169px;
}

.bmd-drawer-f-l>.bmd-layout-drawer {
    width: 300px;
    transform: translateX(-310px);
}

.bmd-layout-drawer>.list-group {
    padding: 0;
}

a :hover{
    background-color: gray;
}